html body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.mainhome{

  background-size: cover;
  position: fixed;
  transition: 0.4 ease-out;
  min-height: 100%;
  min-width: 100%;
  
  
}

.mainhome .main{
  min-height: 100vh;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.637), rgba(0, 0, 0, 0.753));
  padding: 0px; 
  height: 100%;
}

.navbar {
  background-color: #0a0a0a;
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: absolute;


}

.navbar img{
  height: 95px;
  width: 170px;
  margin-right: 70px;
  line-height: 10px;
  display: flex;
 
}

.menu-bars {
  margin-left: 2rem;
  font-size: 2rem;
  background: none;
}

.nav-menu {
  background-color:#0a0a0a;
  width: 250px;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: -100%;
  transition: 850ms;
}

.nav-menu.active {
  left: 0;
  transition: 350ms;
  justify-content: flex-start;
  display: flex;
}

.nav-text {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 8px 0px 8px 16px;
  list-style: none;
  height: 60px;
}

.nav-text a {
  text-decoration: none;
  color: #f5f5f5;
  font-size: 18px;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 16px 0 16px;
  border-radius: 4px;
}

.nav-text a:hover {
  background-color: #1a83ff;
  text-decoration: none;
  padding: 0 16px 0 16px;
}

.nav-menu-items {
  width: 100%;
}

.navbar-toggle {
  background-color: #0a0a0a;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

span {
  margin-left: 16px;
  display: flex;
  align-items: center;
  font-weight: 500;
  text-decoration: none;
}

a{
  text-align: left;
}

.header{
 text-align: center;
 background-color: rgba(0, 0, 0, 0.80);
 background-position: 0% 0%;
 height: 80px;
 width: 1700px;
 margin: auto;
 padding: 0px 10px 0px 10px;
 display: flex;
 transition: all 0s ease 0s;
}

.header .mainlogo{
  width: 300px;
  height: 185px;
  padding: 0px 10px 0px 10px;
  margin-top: 0px;
  overflow: hidden;
  display: flex;
}

.footer{
  color: white;
  text-align: center;
  width: 100%;
  margin-top: 830px;
}

.welcome-box {
  width: 65%;
  height: 240px;
  margin:  75px auto;
  background-color: rgba(0, 0, 0, 0.657);
  border-radius: 16px;
  padding: 15px 55px;
  position: flex; 

}

.welcome-box .welcome{
  height: 270px;
  margin: 0;
  min-height: auto;
  min-width: auto;
  font-family: Raleway;
  font-size: 75px;
  font-weight: 600px;
  color: white;
  width: 850px;
  position: flex;
  
}
